
body{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
  
}
.Shop-now{
   background: var(--accent);
  border: none;
  width: 90px;
  height: 55px;
  padding: 10px;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
  margin-left: 1120px;
  transition: transform .12s ease, background .12s ease;
}
.Shop-now:hover{
   transform: translateY(-3px);
  background: #cc0000;
  width: 90px;
  height: 55px;
}
.Anime{
  align-items: left;
  left: 10;
  text-align: left;
  margin-right: 1000px;
  margin-bottom: 20px;
  text-decoration: none;
  color: grey;
  margin-top: 0;
 
}

.Login{
    text-align: center;
    padding-left: 20px;
    padding-bottom: 5%;
    border-radius: 12px;
    margin-left: 400px;
    width: 400px;
    gap: 10px;
    margin-top: 90px;
   -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 0,0, 0.1);
    background-color: rgba(255, 0, 0,0.1);
    background: linear-gradient(-20deg,rgba(17,17,17,0.5)50%,
                                         rgba(255,0,0,0.5)50%  );
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.7);

}
input[type = "text"]{
    border: solid rgba(255, 0, 0,0.3);
    border-radius: 5px;
    background-color: rgba(255, 0, 0,0.1);
    font-size: 1em;
    color: rgb(5, 5, 5);
    box-shadow: 0 0 8px rgba(255, 0, 0, 0.7);
}
input[type = "password"]{
   border: solid rgba(255, 0, 0,0.3);
    border-radius: 5px  ;
    background-color: rgba(255, 0, 0,0.1);
    font-size: 1em;
    color: rgb(5, 5, 5);
     box-shadow: 0 0 8px rgba(255, 0, 0, 0.7);
}
.Link{
  text-decoration: none;
  color: grey;
}
.But{
  background-color: rgba(255, 0, 0,0.1);
   border: solid rgba(255, 0, 0,0.3);
   border-radius: 5px  ;
}
.But:hover{
  background-color: rgba(255, 0, 0,0.5);
   border: solid rgba(255, 0, 0,0.5);
   border-radius: 5px  ;
   color:grey;
    box-shadow: 0 0 8px rgba(255, 0, 0, 0.7);
}
.Login-header{
  color: grey;
}
.Text{
  color: grey;
}


